
.nav {
    display: flex;
    justify-content: space-between;
    width: 280px;
    align-items: center;

    &__item {
        color: $font-color-primary;
        font-size: $font-size-nav;
        font-family: 'Roboto Mono', monospace;
        text-decoration: none;
        margin-left: 10px;
        margin-right: 10px;
        position: relative;
        &:hover {
            color: $color-secondary;
            animation: toTop;
            animation-duration: 1s;
        }
    }
}