

#grafico01{
    background-color: palevioletred;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: 40px auto;
}
#grafico01 img{
    width: 125%;
}
#grafico02{
    background-color: palevioletred;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin:40px auto;



}