.navbar-dark {
	.navbar-nav {
		.nav-item {
			margin: 0px 15px;
		}
		.nav-link {
		text-transform: uppercase;
		font-size: 15px;
		font-weight: 700;
		color: #1e1e1e;
		transition: all 0.5s;
		text-decoration: none;
		}
		.nav-link:hover,
 		.active>.nav-link,
		.nav-link.active,
		.nav-link.show,
		.show>.nav-link {
			color: #3a8bcd;
		}
	}


	.navbar-toggler-icon {
		background-image: none;
		&::after {
			content: '\f0c9';
			color: #FFF;
			font-size: 22px;
			line-height: 30px;
			font-family: 'FontAwesome';
		}

	}
	
	.navbar-toggler {
		border-color: #3a8bcd;
		background-color: #3a8bcd;	
		height: 50px;
		outline: none;
	}
	
}